{% extends 'base.html.twig' %}

{% block title %}Liste comunes{% endblock %}

{% block body %}
    <section class="crud">
    <h1>Liste des communes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commune in communes %}
            <tr>
                <td>{{ commune.id }}</td>
                <td>{{ commune.nom }}</td>
                <td>
                    <a href="{{ path('commune_show', {'id': commune.id}) }}">show</a>
                    <a href="{{ path('commune_edit', {'id': commune.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commune_new') }}">Create new</a>
    </section>
{% endblock %}
