{% extends 'base.html.twig' %}

{% block title %}Detail Commune{% endblock %}

{% block body %}
    <section class="crud">
        <h1>Détails de la commune</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ commune.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ commune.nom }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('commune_index') }}">back to list</a>
        <a href="{{ path('commune_edit', {'id': commune.id}) }}">edit</a>
        {{ include('commune/_delete_form.html.twig') }}
    </section>
{% endblock %}
