{% extends 'base.html.twig' %}

{% block title %}Details race{% endblock %}

{% block body %}
    <h1>Détail de la race</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ race.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ race.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('race_index') }}">back to list</a>

    <a href="{{ path('race_edit', {'id': race.id}) }}">edit</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
